@import url('https://fonts.google.com/specimen/Inter');

header{
    background-color: #FFFFFF;
}
section{
    background-color: #F8FAFC ;
}

h1 {
    font-family: 'Inter';
    font-size: 2.25rem;
    
}

.text-weight{
    font-weight: bold;
}