@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    font-family: 'Inter';
    text-align: center;
    
}
header{
    background-color: #FFFFFF;
   

}
section{
    background-color: #F8FAFC ;
}

h1 {
    font-family: 'Inter';
    font-size: 2.25rem;
    
}

.text-weight{
    font-weight: bold;
}